<html>
	<head>
		<meta charset="UTF-8">
		<title>Calculator</title>
	</head>
<body>
	<a href="/listtask">list task 		</a>	&nbsp; &nbsp;
	<a href="/newtask">new task  		</a>	&nbsp; &nbsp;
    <a href="/setting">setting  		</a>	&nbsp; &nbsp;
    <a href="/servers">server   		</a>	&nbsp; &nbsp;

	<p>Введите выражение</p>
	<p>Вводите выражение без пробелов, используя знаки 1234567890()</p>
	<p>И операции * / + -</p>
    <form action="/newtask" method="post">
		<input type="text" name="exp">
		<input type="submit">
	</form>
</body>
</html>