<html>
	<head>
		<meta charset="UTF-8">
		<title>Calculator</title>
	</head>
<body>
	<a href="/listtask">list task 		</a>	&nbsp; &nbsp;
	<a href="/newtask">new task  		</a>	&nbsp; &nbsp;
    <a href="/setting">setting  		</a>	&nbsp; &nbsp;
    <a href="/servers">server   		</a>	&nbsp; &nbsp;


	<p>Регистрация</p>
	<p>Введите логин и парль</p>
    <form action="/api/v1/registr" method="post">
		<input type="text" name="login">
		<input type="text" name="password">
		<input type="submit">
	</form>
</body>
</html>